.facts-container {
    color: rgb(207, 212, 214);
    width: 40%;
    height: 100%;
    overflow-y: scroll;
    padding: .88rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
    background-color: rgba(48, 138, 43, 0.7);
    margin: 15px;
}

.facts-container > ul {
    text-align: left;
}

.facts-container > ul > li {
    padding-left: 10px;
}